# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.log
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.ilk
*.lastbuildstate
*.pdb
*.idb
*.a

# Executables
*.out
*.app
